html{
    margin : 0;
    padding : 0;
    text-align: center;
    font-size: 75%;
    height: 100%;
}

body{
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, deepskyblue,white)
}
li.completed{
    text-decoration: line-through;
}
ul#todolist{
    list-style: none;
    padding : 0;
    max-width: 400px;


}

ul#todolist li{
    text-align: left;
    border-bottom : 1px solid #dddd;
    padding : 10px ;
    cursor: pointer;
    min-width: 250px;
    margin-bottom: 15px;
}

ul#todolist li span.completed:after{
    content: '\02611';
    color: green;
    font-size:16px;
    padding : 4px;

}

ul#todolist li span.uncompleted:after{
    content: '\02610';
    color: red;
    font-size:16px;
    padding : 4px;

}
h1{
    text-transform: uppercase;
}
input#todo{
    min-width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px soldid black;
}
ul#todolist li:hover span.cross:after{
    content:'\02A2F';
    color: red;
    font-size: 16px;
    padding: 4px;
    float: right;

}
button{
    color: #222;
    background: white;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid black;
    float: left;
    cursor: pointer; 
    width : 120px;
    font-size: 75%;
    margin: 4px;
}

button.active {
    background: powderblue;
}